
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.info {
    width: 350px;
    height: 100%;
    float: left;
    padding: 10px;
    display: none;
}

.map_canvas, .map {
    height: 100%;
}

.filter_select {
    width: 100%;
}

.select-field {
    height: 650px;
}

#accordion-menu {
    margin-top: 15px;
}

.field-buttons-actions {
    float: right;
    margin: 4px;
}

.dashboard-info {
    padding-left: 1px;
    padding-right: 1px;
}

.fieldsList {
    padding: 1px;
    padding-top: 15px;
}

#btnAdd{
    margin-top: 2px;
}

.active-item{
    border-color:blue;
}

#home .row{
    margin-right: 0px;
}
