@model IEnumerable<GoogleMaps.Models.JobPlanningModel>

<div class="form-partial">
    @using (Ajax.BeginForm("GetJobPlaning", new AjaxOptions { OnSuccess = "GoogleActions.OnSuccessLoadFromFilter" }))
    {
        <input type="hidden" name="FieldId" class="FieldId" />
        <fieldset class="filter-option">
            <input type="number" name="StartYear" id="StartYear" placeholder="Стартовая дата"/>
        </fieldset>
        <fieldset class="filter-option">
            <input type="number" name="EndYear" id="EndDate" placeholder="Конечная дата"/>
        </fieldset>
        <div class="filter-submit">
            <input type="submit" id="filterGo" value="Применить" />
        </div>
    }
</div>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(i => i.Year)</th>
            <th>@Html.DisplayNameFor(i => i.Culture)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.Culture)</td>
            </tr>
        }
    </tbody>
</table>



