
<ul class="nav nav-tabs nav-field">
    <li class="active"><a data-toggle="tab" href="#home" id="generalField">Общая информация</a></li>
    <li><a data-toggle="tab" href="#menu1" id="jobAccaunting">Фактически сделано</a></li>
    <li><a data-toggle="tab" href="#menu2" id="jobPlanning">Планируется сделать</a></li>
    <li style="float:right; display:none">
        <a href="#" class="field-buttons-actions fullScreenInfo">
            <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
        </a>
    </li>
</ul>
<img src="~/Content/Images/default.gif" class="img-loading loading" style="margin:0 auto;display:block"/>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
    </div>
    <div id="menu1" class="tab-pane fade">
    </div>
    <div id="menu2" class="tab-pane fade">
    </div>
</div>
